<div class="flex flex-column">
  <span class="text-lg mb-4">Login</span>

  <form
    #loginForm="ngForm"
    (ngSubmit)="getData(loginForm)"
    class="flex flex-column"
  >
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Email de Usuario"
        type="text"
        name="email"
        ngModel
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        placeholder="Contraseña"
        type="password"
        name="password"
        ngModel
      />
    </mat-form-field>
    <button
      mat-button
      mat-flat-button
      matInput
      color="primary"
      type="submit"
      value="Login"
    >
      <span>Login</span>
    </button>
  </form>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/new-account">¿No tienes cuenta?</a>
  </div>
</div>
