<h1>
  {{ currentProduct.id !== 0 ? "Editar" : "Añadir" }} Producto
  <small *ngIf="currentProduct.id !== 0">{{ currentProduct.nombre }}</small>
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">
  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>
        <form class="grid" [formGroup]="productForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" required formControlName="nombre" />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Marca</mat-label>
            <input matInput type="text" required formControlName="marca" />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Presentación</mat-label>
            <mat-select required formControlName="presentacion">
              <mat-option
                *ngFor="let presenta of presentacion"
                [value]="presenta.id"
                >{{ presenta.desc }}</mat-option
              >
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Descripción</mat-label>
            <input matInput type="text" required formControlName="texto" />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Precio</mat-label>
            <input
              matInput
              type="number"
              required
              formControlName="preciobaseeu"
            />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Descuento</mat-label>
            <input
              matInput
              type="number"
              required
              formControlName="descuento"
            />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Categoría</mat-label>
            <input matInput type="text" required formControlName="categoria" />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Subcategoría</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="subcategoria"
            />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Cantidad</mat-label>
            <input matInput type="number" required formControlName="cantidad" />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Imagen Alternativa</mat-label>
            <input matInput type="text" formControlName="alt_img" />
          </mat-form-field>
        </form>
        <div class="flex justify-space-between">
          <button
            *ngIf="currentProduct.id !== 0"
            mat-flat-button
            color="warn"
            (click)="onDeleteProduct()"
          >
            Borrar
          </button>
          <span class="spacer"></span>
          <button mat-flat-button color="primary" (click)="onSubmit()">
            <mat-icon>save</mat-icon>Guardar
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 sm:col-6">
    <mat-card>
      <img
        [src]="currentProduct | productImage"
        alt="imagen del producto"
        mat-card-image
      />
    </mat-card>
  </div>
</div>

<!-- <pre>{{ currentProduct | json }}</pre> -->
